%div(ng-controller='timesController')
  .row
    %form.col-lg-12(ng-submit='create()')
      .row
        .form-group.col-lg-4
          %label Distance
          %input.form-control(type='text' placeholder='3.5 km, 400 m, etc.' ng-model='time.distance')
        .form-group.col-lg-4
          %label Time
          %input.form-control(type='text' placeholder='20 min, 3 hrs, 1 hr' ng-model='time.time')
      .row
        .form-group.col-lg-8.text-right
          %input.btn.btn-primary(type='submit' value='Save')

  %ul.row
    %li.large-12.columns(ng-repeat='time in times')
      .row
        .large-4.columns(ng-bind='time.distance')
        .large-4.columns(ng-bind='time.time')
        .large-4.columns(ng-bind='time.avg_speed')
