%div(ng-controller='TimeEntriesController')
  .row
    %form.col-lg-12(ng-submit='create()' name='form' novalidate)
      .row
        .form-group.col-lg-2(ng-class="{ 'has-error': form.date.$invalid && submitted }")
          %label Date
          %input.form-control#date(type='text'
            ng-model='timeEntry.date'
            name='date'
            required bs-datepicker
            data-date-format='dd/MM/yyyy'
            data-max-date='today'
          )
          %span.help-block(ng-show='form.date.$error.required && submitted')
            Please fill out this field
        .form-group.col-lg-2(ng-class="{ 'has-error': form.distance.$invalid && submitted }")
          %label Distance
          %input.form-control(type='text' placeholder='3.5km, 400m, etc.' ng-model='timeEntry.distance' name='distance' distance required)
          %span.help-block(ng-show='form.distance.$error.required && submitted')
            Please fill out this field
          %span.help-block(ng-show='form.distance.$error.distance && submitted')
            This is not a valid distance. It should contain a valid number followed by a valid measure unit: km for kilometers or m for meters: 3km, 3.5km, 400m, 120m
        .form-group.col-lg-2(ng-class="{ 'has-error': form.time.$invalid && submitted }")
          %label Time
          %input.form-control(type='text' placeholder='20 min, 3 hrs, 1 hr' ng-model='timeEntry.time' name='time' required time)
          %span.help-block(ng-show='form.time.$error.required && submitted')
            Please fill out this field
          %span.help-block(ng-show='form.time.$error.time && submitted')
            This is not a valid time. It should contain a valid number followed by a valid time unit: hrs, hours, m, minutes
      .row
        .form-group.col-lg-6
          %input.btn.btn-primary(type='submit' value='Save')
  .row
    .col-lg-12
      %form.form-inline(ng-submit='query()' name='searchForm' novalidate)
        .form-group(ng-class="{ 'has-error': searchForm.from.$invalid }")
          %label.control-label Filter
          %input.form-control( type='text'
            ng-model='search.from'
            name='from'
            placeholder='From'
            bs-datepicker
            data-date-format='dd/MM/yyyy'
            data-max-date='{{ search.to }}'
          )
        .form-group(ng-class="{ 'has-error': searchForm.to.$invalid }")
          %input.form-control(type='text'
            ng-model='search.to'
            name='to'
            placeholder='To'
            bs-datepicker
            data-date-format='dd/MM/yyyy'
            data-min-date='{{ search.from }}'
          )
  .row
    .col-lg-12
      %table.table.table-striped
        %thead
          %tr
            %th Date
            %th Distance
            %th Time
            %th Average Speed (m/s)
            %th Average Speed (km/h)
        %tbody
          %tr(ng-repeat='timeEntry in timeEntries')
            %td(ng-bind='timeEntry.date | date:\'dd/MM/yyyy\'')
            %td(ng-bind='timeEntry.distance | distance')
            %td(ng-bind='timeEntry.time | time')
            %td(ng-bind='timeEntry.avg_speed | number:2')
            %td(ng-bind='timeEntry.avg_speed | speedToKmH | number:2')
