%div(ng-controller='ReportsController')
  .row
    .col-lg-12
      .btn-group.pull-left
        %button.btn.btn-default(type='button' ng-click='goToLastWeek()')
          %span.glyphicon.glyphicon-chevron-left
        %button.btn.btn-default(type='button' ng-click='goToNextWeek()')
          %span.glyphicon.glyphicon-chevron-right
      .lead.col-lg-10
        Week:
        %small(ng-cloak) {{ search.from | date:'dd MMM yyyy' }} - {{ search.to | date:'dd MMM yyyy' }}
  .row
    .col-lg-12
      %table.table.table-striped
        %thead
          %tr
            %th Distance
            %th Average Speed (m/s)
            %th Average Speed (km/h)
        %tbody
          %tr
            %td(ng-bind='report.distance | distance')
            %td(ng-bind='report.avg_speed | number:2')
            %td(ng-bind='report.avg_speed | speedToKmH | number:2')
