%nav.navbar.navbar-default{:role => "navigation"}(ng-controller='HeaderController' ng-show='userLoggedIn')
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#main-header", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} JogNow
    #main-header.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li(ng-class='{ active: isActive("/timesheet") }')
          %a{:href => "#/"} Timesheet
        %li(ng-class='{ active: isActive("/reports") }')
          %a{:href => "#/reports"} Reports
