%div(ng-controller='RegistrationsController')
  %h2 Registration
  %form.form-horizontal(name='form' novalidate role='form' ng-submit='create()')
    .row
      .col-lg-6.alert.alert-danger.alert-dismissable(ng-show='errors')
        %button.close{:type => "button"}(ng-click='errors = null') &times;
        %strong
          Sorry, there are some errors preventing the acount from being created:
        %ul
          %div(ng-repeat='(field, messages) in errors')
            %div(ng-repeat='message in messages')
              %li
                {{ field | humanizeConstant }} : {{ message }}
    .form-group
      %label.col-lg-1.control-label Name
      .col-lg-6
        %input(type='text'
          name='firstName'
          ng-model='user.first_name'
          placeholder='First Name'
        )
        %input(type='text'
          name='lastName'
          ng-model='user.last_name'
          placeholder='Last Name'
        )
    .form-group
      %label.col-lg-1.control-label Email
      .col-lg-6
        %input(type='text'
          name='email'
          ng-model='user.email'
          placeholder='Email'
        )
    .form-group
      %label.col-lg-1.control-label Password
      .col-lg-6
        %input(type='password'
          name='password'
          ng-model='user.password'
          placeholder='Password'
        )
        %input(type='password'
          name='password_confirmation'
          ng-model='user.password_confirmation'
          placeholder='Password Confirmation'
        )
    .form-group
      .col-lg-offset-1.col-lg-6
        %input.btn.btn-primary(type='submit' value='Sign up')
        or
        %a(href='#/login') Sign in
